html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #cccccc;
    color: #333333;
}

.header__title {
    color: #00487c;
    margin-bottom: 48px;
}

.sectionHeader, .diaryHeader {
    color: #1460aa;
}

.thirdHeader {
    color: #0496ff;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
}

p {
    color: darkblue;
}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    padding: 16px;
    font-size: 20px;
}

.about__paragraph--color {
    color: #FF6700;
}

.about__picture {
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 0 16px 0 16px;
}

.about__link {
    color: #1a936f;
}

.hobby__list {
    list-style: none;
    padding: 0;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.navigation {

}

.navigation__item {
    display: block;
    margin: 0 16px;

}

.navigation__link {
    color: #1a936f;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.site-header {
    background-color: white;
    box-sizing: border-box;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (min-width: 641px) {
    .navigation__switcher {
        display: none;
    }
}

@media (max-width: 640px) {
    .navigation__list {
        flex-direction: column;
        display: none;
    }

    .navigation__list--visible {
        display: flex;
    }

    .navigation__item {
        margin: 16px;
    }

    .navigation__switcher {
        background: none;
        border: none;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
